CharacterPane {
    -fx-min-height: 200px;
    -fx-background-color: red;
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
}

InfoPane {
    -fx-min-height: 200px;
    -fx-background-color: blue;
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
}

PlayPane {
    -fx-min-height: 200px;
    -fx-max-width: 8000px;
    -fx-background-color: green;
}

CharacterViewer {
    -fx-pref-width: 300px;
}

.CellPlayer {
    -fx-background-color: #000
}

.GameText {
    -fx-background-color: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0.9) 100%);
    -fx-padding: 5px;
}

.GameText>Text {
    -fx-fill: #fff;
    -fx-font-size: 16;
}

ActionPane>VBox {
    -fx-pref-width: 200px;
    -fx-alignment: TOP_CENTER;
    -fx-padding: 5px;
}
